/* Typography */

@import url('https://fonts.googleapis.com/css?family=Heebo:400,500|Lora:400,400i,700,700i|Libre+Baskerville:400,400i');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #e64d1a;
}


body {
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

h2,
h3,
h4,
h5 {
    font-family: 'Heebo', sans-serif;
}


/* Reset */

* {
    box-sizing: border-box;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: 100%;
}

body,
button,
p,
ul {
    margin: 0;
    padding: 0;
}

button,
select {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: transparent;
}

:root {
    overflow-x: hidden;
    height: 100%;
}


/* Styling */

body {
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, 0.84);
    font-weight: normal;
    padding-bottom: 100px;
}

body>* {
    width: 100%;
    max-width: 740px;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 40px;
    letter-spacing: -0.02em;
    line-height: 1.1em;
    margin: 50px auto 0px;
    font-weight: normal;
}

h2,
h3,
h4,
h5 {
    letter-spacing: -0.01em;
    line-height: 1.3em;
    font-weight: 500;
}

h2 {
    font-size: 34px;
    margin: 60px auto 0px;
}

h3 {
    font-size: 26px;
    margin: 40px auto 0px;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
}

h1+h3 {
    margin-top: 10px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 0;
}

p {
    margin-top: 30px;
}

li>p:first-of-type {
    margin-top: 0;
}

h2+p {
    margin-top: 20px;
}

img {
    width: 100%;
    margin: 10px 0px;
}

img+em {
    font-size: 15px;
    display: block;
    text-align: center;
    line-height: 1em;
}

a {
    color: inherit;
}

ul {
    margin-top: 15px;
}

li>ul {
    margin-top: 0px;
}

li {
    margin-left: 30px;
    margin-top: 10px;
}

body>iframe {
    display: block;
    margin-top: 40px;
}

video {
    width: 100%;
}

/* Code */

code,
pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.4em;
}

pre {
    margin: 30px auto 0px;
}

code {
    background: #343538;
    color: #f8f8f2;
    border-radius: 3px;
}

pre>code {
    width: 100%;
    display: inline-block;
    padding: 20px !important;
}

:not(pre)>code {
    padding: 4px 6px;
}

blockquote {
    border-left: 3px solid #4c4c4c;
    font-style: italic;
}

/* Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/ */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #343538;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #75715e;
}


/* Custom CSS: */

nav {
    margin-top: 2em;
    margin-bottom: -0.2em;
    align-items: center;
    display: flex;
    flex: 1;
    /* font-family: Rubik, sans-serif; */
    font-family: Lora, sans-serif;
    font-weight: 700;
    font-size: 0.95em;
    justify-content: center;
    text-transform: uppercase;
}

a.navigation {
    color: inherit;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    position: relative;
    margin-left: 20px;
}

a.navigation:not(.selected) {
    opacity: 0.7;
}

a.navigation::before {
    content: '';
    position: absolute;
    transition: transform .3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    transform: scaleX(0);
}

a.navigation:hover::before,
.selected::before {
    transform: scaleX(1);
}

.selected::before {
    background: var(--color-primary);
}




div.post-item {
    border: 1px solid #e64d1a;
    border-radius: 10px;
}

div.project-subtitle {
    border-radius: 10px;
    margin-bottom: "10px";
}

h2,
.post-item {
    font-size: x-large;
    margin-bottom: 1em;
}

p.post-item {
    font-size: medium;
    margin-bottom: 1em;
    text-decoration: none;
    margin-top: 1em;
}
p.project-subtitle {
    font-size: medium;
    margin-bottom: 1em;
    text-decoration: none;
    margin-top: 0.1em;
}

.post-item-container {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 15px 20px 15px;
}

.post-item-link:link {
    text-decoration: none;
}

.post-item-link:visited {
    text-decoration: none;
}

.post-item-link:hover {
    text-decoration: underline;
}

.post-item-link:active {
    text-decoration: none;
}

.post-item-footer {
    font-family: Rubik, sans-serif;
    font-weight: 800;
}

.post-item-date {
    color: #AAA;
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
    font-size: small;
}

.preview-img-container {
    display: block;
    min-width: 200px;
    height: auto;
    /* border: 1px solid red; */
    text-align: center;
}

.preview-img {
    max-width: 180px;
    max-height: 110px;
    width: auto;
    height: auto;
    object-fit: scale-down;
    border-radius: 8px;
}

.logo-img {
    /* display: block; */
    max-width: 180px;
    max-height: 64px;
    width: auto;
    height: auto;
    object-fit: scale-down;
    /* float: right; */
    /* margin-right: 20px; */
}


.text-it {
    flex: 1;
    min-width: 375px;
    height: auto;
    /* border: 1px solid red; */
    margin-left: 40px;
}

  

hr {
    margin: 40px auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(230, 77, 26, .8), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
}

/* hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 
} */


.work-teaser-container {
    margin-bottom: 0px;
    min-height: 100px;
}

.project-teaser-container {
    margin-bottom: 30px;
    min-height: 110px;
    /* border: 1px solid #E1E1E1; */
    /* border-radius: 10px; */
}

.linkIcon {
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
    margin-left: 10px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-icon {
    height: 30px;
    width: 30px;
    color: #363c3c;
}

.project-title {
    margin-top: 2px;
    font-size: 18px;
}

.continue-reading {
    text-align: center;
    margin-top:-5px
}
